
.fp-controlArrow.fp-prev {
    animation: 2s ease 0s normal none 1 running shake;
}
.fp-controlArrow.fp-next {
    animation: 2s ease 0s normal none 1 running shake;
}
.item-5 .container {
    margin-top: 50px;
}
.isotope, .isotope .isotope-item {
    transition-duration: 0.8s;
}
.isotope-item {
    font-size: 12px;
    margin-right: -1px;
}
.portfolio-item {
    margin-bottom: 30px;
    transition: all 0.5s ease-out 0s;
}
.portfolio-item:hover {
    margin-bottom: 30px;
    transform: scale(1.2);
}
.portfolio-item .hover-bg {
    height: 260px;
    overflow: hidden;
    position: relative;
}
.hover-bg .hover-text {
    background: rgba(0, 0, 0, 0.66) none repeat scroll 0 0;
    color: #ffffff;
    height: 100%;
    margin: 0 auto;
    opacity: 0;
    padding: 25% 0;
    position: absolute;
    text-align: center;
    transition: all 0.5s ease 0s;
    width: 100%;
}
.hover-bg .hover-text > h4 {
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.3s ease 0s;
}
.hover-bg:hover .hover-text > h4 {
    opacity: 1;
    transform: translateY(0px);
}
.hover-bg .hover-text > i {
    opacity: 0;
    transform: translateY(0px);
    transition: all 0.3s ease 0s;
}
.hover-bg:hover .hover-text > i {
    opacity: 1;
    transform: translateY(100%);
}
.hover-bg:hover .hover-text {
    opacity: 1;
}
.rotator {
    background-color: #222;
    border: 3px solid #f0f0f0;
    box-shadow: 0 0 10px #222;
    color: #fff;
    font-family: "Myriad Pro",Arial,Helvetica,sans-serif;
    height: 300px;
    letter-spacing: -1px;
    margin: 40px auto 0;
    overflow: hidden;
    position: relative;
    width: 800px;
}
@media (max-width: 768px) {
.rotator {
    left: -50%;
    margin-left: 100px;
    margin-top: 30px;
    transform: rotate(90deg);
    width: 140%;
}
}
img.bg {
    left: 0;
    position: absolute;
    top: 0;
}
.rotator ul {
    list-style: outside none none;
    margin-top: 6px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999999;
}
.rotator ul li {
    clear: both;
    display: block;
    float: left;
    width: 260px;
}
.rotator ul li a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #222;
    border-bottom-left-radius: 20px;
    border-color: #000 -moz-use-text-color #000 #000;
    border-image: none;
    border-style: solid none solid solid;
    border-top-left-radius: 10px;
    border-width: 2px medium 2px 2px;
    color: #f0f0f0;
    display: block;
    float: right;
    font-size: 20px !important;
    height: 52px;
    line-height: 52px;
    margin: 1px -20px 1px 0;
    opacity: 0.7;
    outline: medium none;
    padding-left: 10px;
    text-decoration: none;
    width: 230px;
}
.rotator ul li a:hover {
    text-shadow: 0 0 2px #fff;
}
.rotator .heading {
    left: 0;
    position: absolute;
    top: 0;
    width: 500px;
}
.rotator .heading h1 {
    font-size: 46px !important;
    font-weight: normal;
    padding: 20px;
    text-shadow: -1px 1px 1px #555;
}
.rotator .description {
    background-color: #222;
    border-right: 2px solid #000;
    border-top: 2px solid #000;
    border-top-right-radius: 10px;
    bottom: 0;
    height: 80px;
    left: 0;
    opacity: 0.7;
    padding: 20px;
    position: absolute;
    width: 500px;
}
.rotator .description p {
    letter-spacing: normal;
    line-height: 26px;
    text-shadow: -1px 1px 1px #000;
    text-transform: none;
}
a.more {
    color: orange;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
}
a.more:hover {
    color: #fff;
}
